.text_center {
  text-align: center;
}
#clipid {
  background-color: rgb(212, 231, 255);
}
.disperr {
  /* all: unset; */
  color: #cc0033;
  display: inline-block;
  font-size: 12px;
  /* margin-top: -23px; */
  /* float: left; */
}
